nav{
    background-color: rgb(24, 24, 87);
    display: flex;
    justify-content: center;
}

.navbar{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
}

.navlogo{
    font-weight: 600;
    cursor: pointer;
    font-size: 2rem;
}

.link{
    text-decoration: none;
    color: white;
}
.buttons{
    display: flex;
    gap: 10px;
}

.loginbtn{
    color: black;
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 8px 25px;
}